<mat-grid-list class="dashboard" cols="3" rowHeight="300" gutterSize="15">
  <mat-grid-tile [colspan]="2">
    <mat-card class="card">
      <h1 class="mat-headline">Revenue</h1>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="2">
    <mat-card class="card">
      <h1 class="mat-headline">Tools</h1>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-card class="card">
      <h1 class="mat-headline">Users</h1>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
