/* You can add global styles to this file, and also import other style files */
$baseBackground: #eeeeee

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap')

html, body
  margin: 0px
  background: $baseBackground
  font-family: 'Roboto'

.light
  font-weight: 300
